* {
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #fafafa;
	font-size: 16px;
}
#wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	padding: 5%;
}
.main { 
	width: 80%;
	height: auto;
	text-align: center;
	margin: 0 auto;
}

img.logo-text {	
	display: block;
	margin: 0 auto;
	width: 50%;
	height: auto;
}

img.logo {	
	display: block;
	margin: 0 auto;
	width: 10%;
	height: auto;
	animation-duration: 1.2s;
}
.fade-in{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* Social media buttons */
.share-buttons {
	width: 100%;
	margin: 0 auto;
	padding: 5% 0 0 0;
	animation-duration: 1s;
}
.share-buttons a {
	color: #000000;
	font-size: 500%;
}
.share-buttons a:hover {
	text-shadow: 10px 1px 10px #aaaaaa;
	position: relative;
	bottom: 1px;
}
h1 {
	font-family: "Raleway", sans-serif;
	color: #000000;
	animation-duration: 1.5s;
}
a {
	color: #003333;
	animation-duration: 1.5s;
}

@media only screen and (max-width: 1024px) {
	img.logo-text {	
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	}
	img.logo {	
		display: block;
		margin: 0 auto;
		width: 20%;
		height: auto;
	}
	.share-buttons a {
	color: #000000;
	font-size: 400%;
	}
}
@media only screen and (max-width: 840px) {
	img.logo-text {	
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
	}

	img.logo {	
		display: block;
		margin: 0 auto;
		width: 40%;
		height: auto;
	}

}